.u-tag {
  display: inline-flex;
  height: auto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  color: var(--u-text-1); 
  font-size: var(--u-font-size-base);
  font-weight: var(--u-font-weight-regular);
  border-radius: var(--u-border-radius-2);

  &.u-tag--success,
  &.u-tag--warning,
  &.u-tag--danger,
  &.u-tag--info,
  &.u-tag--primary {
    color: var(--u-text-9);
  }

  &+.u-tag {
    margin-left: 1.2rem;
  }

  &:focus-visible {
    outline: 2px solid var(--u-primary);
    outline-offset: 2px;
  }

  .u-tag__close {
    * { pointer-events: none; }
    transition: transform var(--u-animation-delay-8) var(--u-animation-ease-in-out);
    cursor: pointer;
  }

  
  [class*=u-tag__content]+.u-tag__close--default,
  [class*=u-tag__content]+.u-tag__close--right{
    margin-left: 0.2rem;
  }
  [class*=u-tag__close--left]+.u-tag__content{
    margin-left: 0.2rem;
  }

  &.u-tag--primary {
    background-color: var(--u-primary-0);

    &.u-tag--light {
      color: var(--u-primary-0);
      background-color: var(--u-primary-light-6);
      &.is-border {
        border: solid 0.01rem var(--u-primary-0);
      }
    }
    
    &.u-tag--plain {
      color: var(--u-primary-0);
      border: solid 0.01rem var(--u-primary-0);
      background-color: unset;
    }
  }

   /* success状态 */
   &.u-tag--success { 
    background-color: var(--u-success-1); 
    
    &.u-tag--light {
      color: var(--u-success-1);
      background-color: var(--u-success-light-6);
      &.is-border {
        border: solid 0.01rem var(--u-success-2);
      }
    }

    &.u-tag--plain {
      border: solid 0.01rem var(--u-success-2);
      color: var(--u-success-1);
      background-color: unset;
    }
  }

  /* warning状态 */
  &.u-tag--warning { 
    background-color: var(--u-warning-3); 
   
    &.u-tag--light {
      color: var(--u-warning-3);
      background-color: var(--u-warning-light-6);

      &.is-border {
        border: solid 0.01rem var(--u-warning-4);
      }
    }

    &.u-tag--plain {
      border: solid 0.01rem var(--u-warning-4);
      color: var(--u-warning-3);
      background-color: unset;
    }
  }

  /* danger状态 */
  &.u-tag--danger { 
    background-color: var(--u-danger-1); 
    
    &.u-tag--light {
      color: var(--u-danger-1);
      background-color: var(--u-danger-light-6);
      &.is-border {
        border: solid 0.01rem var(--u-danger-2);
      }
    }

    &.u-tag--plain {
      border: solid 0.01rem var(--u-danger-2);
      color: var(--u-danger-1);
      background-color: unset;
    }
  }

  /* info状态 */
  &.u-tag--info {
    background-color: var(--u-info-1); 
 
    &.u-tag--light {
      color: var(--u-info-1);
      background-color: var(--u-info-light-6);
      &.is-border {
        border: solid 0.01rem var(--u-info-2);
      }
    }

    &.u-tag--plain {
      border: solid 0.01rem var(--u-info-2);
      color: var(--u-info-1);
      background-color: unset;
    }
  }

  &.u-tag--large {
    padding: 1.8rem 1.2rem;
    height: 2.4rem;
    font-size: var(--u-font-size-lg);
  }

  &.u-tag--default {
    padding: 1.4rem 1rem;
    height: 2rem;
    font-size: var(--u-font-size-base);
  }

  &.u-tag--small {
    padding: 1rem 0.8rem;
    height: 1.6rem;
    font-size: var(--u-font-size-md);
  }

  &.is-round {
    border-radius: var(--u-border-radius-20)
  }

  &.is-transition {
    transition: all var(--u-animation-delay-2) var(--u-animation-ease-in-out);
    .u-tag__close:hover {
      transform: rotate(360deg);
    }
  }
}