/* 在 :root 提供回退，避免 u-form-item 单独使用时 --form-* 未定义；.u-form 内仍以 .u-form 为准 */
:root {
  --form-font-size: var(--u-font-size-base, 1.4rem);
  --form-color: var(--u-text-2, #606266);
  --form-line-height: var(--u-height-32, 3.2rem);
  --form-error-font-size: var(--u-font-size-xs, 0.8rem);
  --form-error-color: var(--u-danger, #f56c6c);
  --form-error-border-color: var(--u-danger, #f56c6c);
  --form-margin-bottom: var(--u-height-22, 2.2rem);
  --form-padding-right: var(--u-height-12, 1.2rem);
  --form-margin-right: var(--u-height-32, 3.2rem);
  --form-error-padding-top: var(--u-height-4, 0.4rem);
  --form-error-margin-left: var(--u-height-10, 1rem);
  --form-label-padding-bottom: var(--u-height-10, 1rem);
  --form-animation-duration: var(--u-animation-duration, 0.2s);
  --form-animation-function: var(--u-animation-ease-out, ease-out);
  --form-required-star-color: var(--u-danger, #f56c6c);
  --form-required-star-margin: var(--u-height-4, 0.4rem);
}

.u-form {
  --form-font-size: var(--u-font-size-base);
  --form-color: var(--u-text-2);
  --form-line-height: var(--u-height-32);
  --form-error-font-size: var(--u-font-size-xs);
  --form-error-color: var(--u-danger);
  --form-error-border-color: var(--u-danger);
  --form-margin-bottom: var(--u-height-22);
  --form-padding-right: var(--u-height-12);
  --form-margin-right: var(--u-height-32);
  --form-error-padding-top: var(--u-height-4);
  --form-error-margin-left: var(--u-height-10);
  --form-label-padding-bottom: var(--u-height-10);
  --form-animation-duration: var(--u-animation-duration);
  --form-animation-function: var(--u-animation-ease-out);
  --form-required-star-color: var(--u-danger);
  --form-required-star-margin: var(--u-height-4);
}

.u-form--label-left .u-form-item__label {
  text-align: left;
}

.u-form--label-top .u-form-item__label {
  float: none;
  display: inline-block;
  padding: 0 0 var(--form-label-padding-bottom) 0;
}

.u-form--inline .u-form-item {
  display: inline-flex;
  vertical-align: middle;
  margin-right: var(--form-margin-right);
}

.u-form-item {
  margin-bottom: var(--form-margin-bottom);

  &__label {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    font-size: var(--form-font-size);
    color: var(--form-color);
    line-height: var(--form-line-height);
    padding: 0 var(--form-padding-right) 0 0;
    box-sizing: border-box;

    &.is-left {
      text-align: left;
    }
  }

  &__required-star {
    color: var(--form-required-star-color);
    margin-right: var(--form-required-star-margin);
    font-size: var(--form-font-size);
    
    &.is-right {
      margin-right: 0;
      margin-left: var(--form-required-star-margin);
    }
  }

  &__content {
    position: relative;
    font-size: var(--form-font-size);
    line-height: var(--form-line-height);
  }

  &__error {
    color: var(--form-error-color);
    font-size: var(--form-error-font-size);
    line-height: 1;
    padding-top: var(--form-error-padding-top);
    position: absolute;
    top: 100%;
    left: 0;

    &--inline {
      position: relative;
      top: auto;
      left: auto;
      display: inline-block;
      margin-left: var(--form-error-margin-left);
    }
  }

  &--error {
    .u-form-item__content {
      .u-input {
        .u-input__wrapper {
          border-color: var(--form-error-border-color);

          &:hover {
            border-color: var(--form-error-border-color);
          }

          &:focus-within {
            border-color: var(--form-error-border-color);
          }
        }
      }
    }
  }

  &--validating {
    .u-form-item__content {
      .u-input {
        .u-input__wrapper {
          border-color: var(--u-warning-1, #e6a23c);

          &:hover {
            border-color: var(--u-warning-2, #cf9236);
          }

          &:focus-within {
            border-color: var(--u-warning-3, #b8860b);
          }
        }
      }
    }
  }
}

// 动画
.u-zoom-in-top-enter-active,
.u-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: transform var(--form-animation-duration) var(--form-animation-function),
    opacity var(--form-animation-duration) var(--form-animation-function);
  transform-origin: center top;
}

.u-zoom-in-top-enter-from,
.u-zoom-in-top-leave-to {
  opacity: 0;
  transform: scaleY(0);
}
