.u-badge {
  --badge-danger-bg-color: var(--u-danger-1);
  --badge-success-bg-color: var(--u-success-1);
  --badge-warning-bg-color: var(--u-warning-3);
  --badge-info-bg-color: var(--u-info-1);
  --badge-primary-bg-color: var(--u-primary-0);
  --badge-content-font-size: var(--u-font-size-xs);
  --badge-content-color: var(--u-white);
}

.u-badge {
  position: relative;
  display: inline-block;

  .u-badge-content {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    display: inline-block;
    min-width: 1rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: 9999px;
    padding: 0 0.2rem;
    font-size: var(--badge-content-font-size);
    color: var(--badge-content-color);
    text-align: center;
    box-sizing: border-box;
    z-index: var(--u-z-index-badge);
    white-space: nowrap;

    
    &.u-badge-primary {
      background-color: var(--badge-primary-bg-color);
    }
    &.u-badge-success {
      background-color: var(--badge-success-bg-color);
    }
    &.u-badge-danger {
      background-color: var(--badge-danger-bg-color);
    }
    &.u-badge-warning {
      background-color: var(--badge-warning-bg-color);
    }
    &.u-badge-info {
      background-color: var(--badge-info-bg-color);
    }
  }

  .u-badge-dot {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    display: inline-block;
    min-width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;

    &.u-badge-dot-primary {
      background-color: var(--badge-primary-bg-color);
    }
    &.u-badge-dot-success {
      background-color: var(--badge-success-bg-color);
    }
    &.u-badge-dot-danger {
      background-color: var(--badge-danger-bg-color);
    }
    &.u-badge-dot-warning {
      background-color: var(--badge-warning-bg-color);
    }
    &.u-badge-dot-info {
      background-color: var(--badge-info-bg-color);
    }
  }
}