.u-slider {
  --u-slider-height: var(--u-height-4);
  --u-slider-thumb-size: 1rem;
  --u-silder-thumb-border-width: var(--u-border-width-12);
  --u-slider-thumb-border-color: var(--u-primary);
  --u-slider-thumb-background-color: var(--u-white);
  --u-slider-thumb-transition: scale var(--u-animation-delay-2) var(--u-animation-ease-in-back);
  
  --u-slider-track-border-radius: var(--u-border-radius-3);
  --u-slider-track-background-color: var(--u-background-3);

  --u-slider-progress-border-radius: var(--u-border-radius-3);
  --u-slider-progress-background-color: var(--u-primary);
}

.u-slider {
  position: relative;
  width: 100%;
  height: var(--u-slider-height);
  display: flex;
  align-items: center;

  .u-slider__progress,
  .u-slider__track {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: var(--u-slider-track-border-radius);
  }

  .u-slider__track {
    background-color: var(--u-slider-track-background-color);
    z-index: 1;
  }

  .u-slider__progress {
    background-color: var(--u-slider-progress-background-color);
    z-index: 2;
  }

  .u-slider__thumb-wrapper {
    width: var(--u-slider-thumb-size);
    height: var(--u-slider-thumb-size);
    transform: translate(-50%);
    position: absolute;
    top: -0.4rem;
    left: 0;
    z-index: 3;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
    
    .u-slider__thumb {
      position: absolute;
      width: inherit;
      height: inherit;
      background-color: var(--u-slider-thumb-background-color);
      border-radius: 50%;
      border: solid var(--u-silder-thumb-border-width) var(--u-slider-thumb-border-color);
      transition: var(--u-slider-thumb-transition);


      &:hover {
        transform: scale(1.2);
      }
    }
  }
}