.u-message {
  position: fixed;
  left: 50%;
  top: 2rem;
  width: fit-content;
  max-width: calc(100% - 3rem);
  box-sizing: border-box;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 0;
  font-size: var(--u-font-size-base);
  border-radius: var(--u-border-radius-2);
  z-index: var(--u-z-index-message);
  transition: top var(--u-animation-duration) var(--u-animation-ease-in-out),
      opacity var(--u-animation-duration) var(--u-animation-ease-in-out),
      transform var(--u-animation-duration) var(--u-animation-ease-in-out);

  &.u-message--info {
    background-color: var(--u-info-light-5);
    color: var(--u-info-1);
  }

  &.u-message--success {
    background-color: var(--u-success-light-5);
    color: var(--u-success-1);
  }

  &.u-message--warning {
    background-color: var(--u-warning-light-5);
    color: var(--u-warning-1);
  }

  &.u-message--error {
    background-color: var(--u-danger-light-5);
    color: var(--u-danger-1);
  }

  &.u-message--primary {
    background-color: var(--u-primary-light-5);
    color: var(--u-primary);
  }

  &.is-center {
    .u-message-content {
      text-align: center;
      justify-content: center;
    }
  }

  &.is-plain {
    background-color: var(--u-white);
    
    &.u-message--info {
      color: var(--u-info-1);
      border: var(--u-border-width-2) solid var(--u-info-1);
    }

    &.u-message--error {
      color: var(--u-danger-1);
      border: var(--u-border-width-2) solid var(--u-danger-1);
    }

    &.u-message--warning {
      background-color: var(--u-warning-3);
      border: var(--u-border-width-2) solid var(--u-warning-1);
    }

    &.u-message--success {
      color: var(--u-success-1);
      border: var(--u-border-width-2) solid var(--u-success-1);
    }

    &.u-message--primary {
      color: var(--u-primary);
      border: var(--u-border-width-2) solid var(--u-primary);
    }
  }

  .u-message-icon,
  .u-message-close,
  .u-message-content {
    display: flex;
    align-items: center;
  }
  
  .u-message-icon {
    margin-left: 0.8rem;
    justify-content: center;
  }

  .u-message-content {
    padding: 0 0.8rem;
    overflow-wrap: break-word;
  }

  .u-message-close {
    cursor: pointer;
    margin-right: 0.8rem;
    justify-content: center;
  }

}

.u-message.fade-up-enter-from,
.u-message.fade-up-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}
