.u-collapse {
  width: 100%;
  height: auto;
  box-sizing: border-box;

  .u-collapse-transition {
    transition: height var(--u-animation-delay-3) var(--u-animation-ease-in-out),
      padding-top var(--u-animation-delay-3) var(--u-animation-ease-in-out),
      padding-bottom var(--u-animation-delay-3) var(--u-animation-ease-in-out);
  }

  .u-collapse-transition-leave-active,
  .u-collapse-transition-enter-active  {
    transition: max-height var(--u-animation-delay-3) var(--u-animation-ease-in-out),
      padding-top var(--u-animation-delay-3) var(--u-animation-ease-in-out),
      padding-bottom var(--u-animation-delay-3) var(--u-animation-ease-in-out);
  }

  .horizontal-collapse-transition {
    transition: width var(--u-animation-delay-3) var(--u-animation-ease-in-out),
      padding-left var(--u-animation-delay-3) var(--u-animation-ease-in-out),
      padding-right var(--u-animation-delay-3) var(--u-animation-ease-in-out);
    }

  .u-collapse-item ~ .u-collapse-item {
    border-top: var(--u-border-width-6) solid var(--u-border-1);
  }

  .u-collapse-item:first-child {
    border-top: var(--u-border-width-6) solid var(--u-border-1);
  }

  .u-collapse-item:last-child {
    border-bottom: var(--u-border-width-6) solid var(--u-border-1);
  }
    
  .u-collapse-item {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-weight: var(--u-font-weight-normal);
    font-size: var(--u-font-size-base);

    &.is-active {
      .u-collapse-item__arrow {
        transform: rotate(90deg);
      }
    }

    &.is-disabled {
      .u-collapse-item__header {
        cursor: not-allowed;
        background-color: var(--u-background-disabled);
      }
    }

    .u-collapse-item__header {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0.8rem 0.6rem;
      user-select: none;

      &:focus-visible {
        outline: 2px solid var(--u-primary);
        outline-offset: 2px;
      }

      .u-collapse-item__title {
        flex: 1;
      }

      .u-collapse-item__arrow {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: transform var(--u-animation-delay-3) var(--u-animation-ease-in-out);
      }
    }

    .u-collapse-item__wrap {
      will-change: height;
      overflow: hidden;
      box-sizing: border-box;
      .u-collapse-item__content {
        padding: 0 0.6rem 0.8rem 0.6rem;
        line-height: 1.77;
      }
    }
  }
}