.u-dropdown,
#u-popper-container {

  .u-dropdown-menu {
    margin: 0;
    padding: 0.3rem 0;
    position: relative;
    list-style: none;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    .u-dropdown-item {
      cursor: pointer;
      padding: 0.6rem 1rem;
      text-align: center;
      &:hover:not(.is-disabled) {
        background-color: var(--u-primary-light-6);
        .u-dropdown-item__label { color: var(--u-primary); }
      }
      &:focus-visible {
        outline: 2px solid var(--u-primary);
        outline-offset: -2px;
      }
      &.is-disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
    .u-dropdown-item__divider {
      margin: 0.4rem 0;
      border-top: 1px solid var(--u-border-1);
    }
  }
}