.u-read-progress {
  --read-progressBar-delay: var(--u-animation-delay);
  --read-progressBar-animation: var(--u-animation-ease);
  
  --read-progressBar-primary: var(--u-primary-0);
  --read-progressBar-success: var(--u-success-1);
  --read-progressBar-warning: var(--u-warning-3);
  --read-progressBar-danger: var(--u-danger-1);
  --read-progressBar-info: var(--u-info-1);
}

.u-read-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--u-z-index-read-progress);

  .u-read-progress__bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: width 0.2s ease;
     
    &.u-read-progress__bar--primary {
      background-color: var(--read-progressBar-primary);
    }
    &.u-read-progress__bar--success {
      background-color: var(--read-progressBar-success);
    }
    &.u-read-progress__bar--warning {
      background-color: var(--read-progressBar-warning);
    }
    &.u-read-progress__bar--danger {
      background-color: var(--read-progressBar-danger);
    }
    &.u-read-progress__bar--info {
      background-color: var(--read-progressBar-info);
    }
  }

  .u-read-progress__text {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-50%, 50%);
  }
}