.u-text {
  vertical-align: middle;
  font-size: var(--u-font-size-base);
  font-weight: var(--u-font-weight-regular);
  color: var(--u-text-1);
  /* white-space: nowrap; */
  height: fit-content;
  box-sizing: border-box;
  line-height: 1.5;
  
  &.is-ellipsis {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  &.u-text--default {
    color: var(--u-text-1);
  }
  &.u-text--primary {
    color: var(--u-primary-0);
  }
  &.u-text--success {
    color: var(--u-success-1);
  }
  &.u-text--warning {
    color: var(--u-warning-3);
  }
  &.u-text--danger {
    color: var(--u-danger-1);
  }
  &.u-text--info {
    color: var(--u-info-1);
  }

  &.u-text--small {
    font-size: var(--u-font-size-xs);
  }
  &.u-text--default {
    font-size: var(--u-font-size-base);
  }
  &.u-text--large {
    font-size: var(--u-font-size-lg);
  }
}